{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css12/style.css' %}">

  <link href="https://www.1001fonts.com/homina-font.html" rel="stylesheet">

  <title>mywebsite</title>
</head>

<body>
  <div class="forbgimg">

    <nav class="navbar navbar-expand-lg navbar-sticky">
      <a class="navbar-brand" href="#">OYD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="#objective">Objective <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skill">Skill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#interest">Interest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#achievement">Achievement</a>
          </li>
        </ul>
      </div>
    </nav>
    <br><br><br>

    <!-- <div class="shit"> -->

    <!-- <img src="{% static '/images/img.jpg' %}"> -->
    <a class="shit">
      <h1> I'M <br> Thing <br> Niraj</h1>
      <br><br><br><br>
    </a>
   
    
    <B id ="objective"></B>
    <h2>Objective:</h2>
        <p>
                I am extremely hardworking and passionate about learning on new ideas 
                on web development. I am here to broaden my skills & ideas 
                and voluntarily help in your company as a fresher frontend developer.
        </p>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <hr />
        <br><br>
    <B id ="experience"></B>
        <h2>WORK EXPERIENCE (internship-3 months):</h2>
        <p>
                Search engine optimization 
                Responsibilities:
                •	Image optimization
                •	Keyword analysis
                •	Content writing
                •	And many more off page activities
                
        </p>    <br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <hr />
        <br><br>
      <B id ="education"></B>
        <h2>EDUCATION:</h2>
        <p>
                2015-2019
            Bachelor Of Computer Application(BCA), Purbanchal University.
            Currently on 8th semester (final year)
        </p>     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <hr />
        <br>
        <B id ="skill"></B>
        <h2>ADDITIONAL SKILLS:</h2>
        <p>
                Basic knowledge of Html, CSS (SASS/SCSS), Bootstrap, responsive design, JavaScript.

                Basic graphic design knowledge with image editing software such as Photoshop, Illustrator (for designing logos, food menus etc.)
 
        </p> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <B id ="interest"></B>
        <h2>Interest</h2>
        <p>
            I am interested in anything that is interesting. Eclecticity seeps into my brain 
            much more easily than the thunderingly similar data of a single concentrated topic area. 
            Though I tend to gravitate towards computer, science, and math information, I will just as likely 
            find an article on a political, religious, or historical topic just as interesting as an article on 
            how astronauts keep their Coke fizzy in space or a book on how public key encryption works. 

        </p>  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <B id ="achievement"></B>
        <h2>Acheivements</h2>
        <p>
            Things that happen to us in the beginning of our lives, during the childhood, very often have a great 
            impact on our entire existence in this world. And the best thing that can happen to a man in his early 
            years is some kind of revelation that would show him what he is supposed to do in his life. It wouldn’t 
            be an exaggeration to say that one of the most important aspects of our lives is our work, something to
             which we dedicate most of our time – and to choose the right option from the very beginning is a very good 
             fortune. In my opinion, one of the most difficult steps in every beginning is to actually choose what to 
             do, and choose it correctly.. 

        </p> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <br>
    

</body>

</html>